PORT=3000

# Add your NMKR API Key
NMKR_API_KEY=YOUR_NMKR_API_KEY

# Add your project UIDs (you can add as many as you need)
# The projectname must match the projectName in the config.js file ( For projectName: 'project1' in the config.js , the env must contain: NMKR_PROJECT_UID_PROJECT1=your_project_UID )

# Project 1 - Project name
NMKR_PROJECT_UID_PROJECT1=your_project1_uid_here
# Project 2 - Project name
NMKR_PROJECT_UID_PROJECT2=your_project2_uid_here
# Project 3 - Project name
NMKR_PROJECT_UID_PROJECT3=your_project3_uid_here



# Gallery Subpage Projects
NMKR_PROJECT_UID_GALLERY_1=your_gallery_1_uid_here
NMKR_PROJECT_UID_GALLERY_2=your_gallery_2_uid_here